<div class="landing-page">
    <header class="navbar">
        <div class="logo-container">
            <img src="logo3.png" alt="HOGOZATY Logo" class="logo-image">
        </div>

        <!-- Right Buttons -->
        <div class="right-button">
            <button routerLink="/login">Login</button>
            <button routerLink="/registerStudent">Register</button>
        </div>
    </header>

    <!-- Cover Image and Hero Text -->
    <div class="cover-image">
        <img src="bg-masthead.jpg" alt="Cover Image" class="full-cover" />
        <div class="hero-text">
            <h1>Empowering Your Academic Journey</h1>
            <p>We help you unlock your academic potential with personalized AI-driven guidance! Just sign up and start learning, no limits to your success!</p>
            <button routerLink="/info">What We Do?</button>
        </div>
    </div>
</div>