<div class="courses-page">

  <app-student-header></app-student-header>

  <div class="navbar-spacer"></div>

 

  <!-- Hero Section -->
  <section class="hero-section">
    <div class="hero-content">
      <h1>Welcome, {{ student.firstName | titlecase }}</h1>
      <p>Track your courses and access your academic transcript.</p>
      <button class="cta-button" (click)="navigateTo('/transcript')">
        View Transcript
      </button>
    </div>
  </section>

  <!-- Features Section -->
  <div class="features-section">
    <div
      class="card"
      *ngFor="let feature of features"
      (click)="navigateTo(feature.link)"
    >
      <div class="card-header">
        <h3 class="card-title">{{ feature.name }}</h3>
      </div>
      <div class="card-content">
        <ng-container *ngIf="feature.name === 'General Requirements'">
          <p>Calculated Hours: {{ generalHours }}/12</p>
        </ng-container>
        <ng-container *ngIf="feature.name === 'Faculty Requirements'">
          <p>Calculated Hours: {{ facultyHours }}/72</p>
        </ng-container>
        <ng-container *ngIf="feature.name === 'division Requirements'">
          <p>Calculated Hours: {{ departmentHours }}/60</p>
        </ng-container>
      </div>
    </div>
  </div>
</div>