<div class="bg-img">
  <div class="overlay"></div>
  <div class="cover-image">
    <img src="bg.jpg" alt="Cover Image" class="full-cover">
  </div>

  <div class="navbar-spacer"></div>

  <div class="content">
    <img src="logo1.png" alt="Logo" class="logo" routerLink="/" />
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <div class="field">
        <span class="fa fa-user"></span>
        <input 
          type="email" 
          formControlName="email" 
          placeholder="Email" 
          required 
        />
        <div *ngIf="isSubmitted && fc['email'].errors?.['required']" class="error">
          Email is required.
        </div>
        <div *ngIf="isSubmitted && fc['email'].errors?.['email']" class="error">
          Please enter a valid email.
        </div>
      </div>

      <div class="field space">
        <span class="fa fa-lock"></span>
        <input
          type="password"
          formControlName="password"
          class="pass-key"  
          placeholder="Password"
          required
        />
        <div *ngIf="isSubmitted && fc['password'].errors?.['required']" class="error">
          Password is required.
        </div>
      </div>

      <div class="field">
        <input 
          type="submit" 
          value="LOGIN" 
          [disabled]="loginForm.invalid && isSubmitted" 
        />
      </div>

      <div class="forgot-password">
        <a routerLink="/forget-password">Forgot Password?</a>
      </div>
    </form>

    <div class="signup">
      Don't have an account? <a routerLink="/registerStudent">Sign Up Now</a>
    </div>
  </div>
</div>